@charset "UTF-8";
/* FONTS */
@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/ProximaNova/ProximaNova-Regular.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/ProximaNova/ProximaNova-RegularIt.ttf");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/ProximaNova/ProximaNova-Semibold.ttf");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/ProximaNova/ProximaNova-Bold.ttf");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'GothamBlack';
  src: url("../fonts/Gotham Black.otf");
  font-weight: normal;
  font-style: normal; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none; }

body {
  font-family: 'ProximaNova';
  color: #464950;
  font-size: 13px; }

a {
  text-decoration: none; }

a, .header_dropdown_button, i.fa {
  -webkit-transition-duration: .3s;
  -o-transition-duration: .3s;
  transition-duration: .3s; }

h2 {
  margin: 0;
  font-size: 22px;
  text-transform: uppercase; }

h3.post_item_title {
  font-size: 16px;
  line-height: 22px;
  color: #000; }

h3.article_title {
  font-size: 22px;
  line-height: 26px;
  color: #4e4e4e;
  font-weight: 600;
  margin: 0; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

blockquote {
  position: relative;
  margin: 20px 0;
  padding: 15px 15px 15px 85px;
  background-color: #f9f9f9;
  border-radius: 5px;
  font-style: italic; }
  blockquote:before {
    content: '“';
    font-family: 'GothamBlack';
    position: absolute;
    top: calc(50% - 13px);
    left: 22px;
    font-size: 72px;
    line-height: 50px;
    font-style: normal;
    font-weight: 900;
    color: #307FE2; }

.container {
  width: 1200px;
  padding: 0 17px;
  margin: 0 auto; }

.clearfix:after, .clearfix:before {
  content: "";
  display: table;
  table-layout: fixed; }

.clearfix:after {
  clear: both; }

.mobile_only {
  display: none; }
  @media (max-width: 767px) {
    .mobile_only {
      display: block; } }

.bold {
  font-weight: bold; }

.lowercase {
  text-transform: lowercase; }

.uppercase {
  text-transform: uppercase; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.pos-r {
  position: relative; }

.pos-a {
  position: absolute; }

.button {
  width: 108px;
  height: 44px;
  border-radius: 5px;
  font-size: 13px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.btn-white {
  border: 2px solid #CDCED2; }
  .btn-white:hover {
    background-color: rgba(205, 206, 210, 0.2); }

.btn-green {
  background: -webkit-gradient(linear, left top, right top, from(#28CE7A), to(#0DAA5A));
  background: -webkit-linear-gradient(left, #28CE7A 0%, #0DAA5A 100%);
  background: -o-linear-gradient(left, #28CE7A 0%, #0DAA5A 100%);
  background: linear-gradient(90deg, #28CE7A 0%, #0DAA5A 100%);
  color: #fff; }
  .btn-green:hover {
    background: -webkit-gradient(linear, left top, right top, from(#0c9951), to(#0c9951));
    background: -webkit-linear-gradient(left, #0c9951 0%, #0c9951 100%);
    background: -o-linear-gradient(left, #0c9951 0%, #0c9951 100%);
    background: linear-gradient(90deg, #0c9951 0%, #0c9951 100%); }

.section_button {
  width: 170px;
  background-image: -webkit-gradient(linear, left top, right top, from(#1d1d1d), to(#323232));
  background-image: -webkit-linear-gradient(left, #1d1d1d 0%, #323232 100%);
  background-image: -o-linear-gradient(left, #1d1d1d 0%, #323232 100%);
  background-image: linear-gradient(to right, #1d1d1d 0%, #323232 100%);
  color: #fff;
  margin: 0 auto; }

.v_divider {
  height: 15px;
  width: 2px;
  background-color: #d7d7d7;
  margin: 0 19px; }

.border-blue {
  border-color: #1e91de; }

.border-yellow {
  border-color: #fc9c5a; }

/* HEADER */
.header_main {
  color: #fff;
  background-color: #1d1d1d;
  z-index: 110; }
  .header_main .header_inner {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 25px 0; }
  .header_main .header_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header_main .header_nav ul {
    font-size: 13px;
    line-height: 16px;
    font-weight: bold; }
    .header_main .header_nav ul li {
      float: left;
      padding: 0 10px; }
      .header_main .header_nav ul li.active a {
        color: #28CE7A; }
    .header_main .header_nav ul a {
      color: #fff; }
      .header_main .header_nav ul a:hover {
        color: #28CE7A; }
  .header_main .header_right_divider {
    height: 15px;
    width: 2px;
    background-color: #E5E5E5;
    opacity: 0.5;
    margin: 0 15px 0 10px; }
  .header_main .header_right_actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .header_main .header_right_actions > div {
      margin: 0 15px; }
    .header_main .header_right_actions img {
      display: block; }
    .header_main .header_right_actions .header_lang_block a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .header_main .header_right_actions .header_lang_block a .header_dropdown_arrow_icon {
        margin-left: 10px;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.5); }
      .header_main .header_right_actions .header_lang_block a:hover .header_dropdown_arrow_icon, .header_main .header_right_actions .header_lang_block a.active .header_dropdown_arrow_icon {
        color: #0DAA5A; }
  .header_main .header_lang_menu {
    display: none;
    position: absolute;
    background-color: #1d1d1d;
    top: 50px;
    left: -15px; }
    .header_main .header_lang_menu li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 15px; }
    .header_main .header_lang_menu a {
      color: #fff;
      font-size: 12px; }
    .header_main .header_lang_menu img {
      margin-right: 9px; }
  .header_main .header_search_block a {
    width: 17px;
    height: 17px;
    display: block;
    background: url("../img/search_icon.svg") 50% 50% no-repeat;
    background-size: 100% 100%; }
    .header_main .header_search_block a:hover, .header_main .header_search_block a.active {
      background: url("../img/search_icon_hover.svg") 50% 50% no-repeat;
      background-size: 100% 100%; }
  .header_main .header_search_menu {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    z-index: 500; }
    .header_main .header_search_menu .header_search_menu_wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      float: right;
      width: 70%;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      height: 100%;
      background-color: #1d1d1d;
      padding: 0 15px; }
    .header_main .header_search_menu form {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .header_main .header_search_menu button {
      border: none;
      background: transparent;
      color: #fff;
      height: auto;
      padding: 0; }
    .header_main .header_search_menu input {
      width: 300px;
      margin-left: 13px;
      border: none;
      background: transparent;
      color: #fff;
      font-size: 15px; }
      .header_main .header_search_menu input::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.5); }
      .header_main .header_search_menu input:-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.5); }
      .header_main .header_search_menu input::-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.5); }
      .header_main .header_search_menu input::placeholder {
        color: rgba(255, 255, 255, 0.5); }
    .header_main .header_search_menu .header_quick_links_menu {
      display: none;
      position: absolute;
      background: #fff;
      width: 564px;
      top: 100%;
      left: calc(50% - 282px);
      padding-top: 27px; }
      .header_main .header_search_menu .header_quick_links_menu .title {
        color: #989ba1;
        font-size: 11px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        margin: 0 0 8px 42px; }
      .header_main .header_search_menu .header_quick_links_menu li {
        padding: 15px 72px;
        border-bottom: 1px solid #f2f2f2; }
        .header_main .header_search_menu .header_quick_links_menu li:last-child {
          border-bottom: none; }
      .header_main .header_search_menu .header_quick_links_menu a {
        color: #464950;
        line-height: 20px; }
  .header_main .header_profile_block a {
    width: 14px;
    height: 18px;
    display: block;
    background: url("../img/user_icon.svg") 50% 50% no-repeat;
    background-size: 100% 100%; }
    .header_main .header_profile_block a:hover, .header_main .header_profile_block a.active {
      background: url("../img/user_icon_hover.svg") 50% 50% no-repeat;
      background-size: 100% 100%; }
  .header_main .header_dropdown_button {
    width: 42px;
    height: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 40px;
    border-radius: 4px;
    background-color: #28ce7a;
    background-image: -webkit-gradient(linear, left top, right top, from(#28ce7a), to(#0daa5a));
    background-image: -webkit-linear-gradient(left, #28ce7a 0%, #0daa5a 100%);
    background-image: -o-linear-gradient(left, #28ce7a 0%, #0daa5a 100%);
    background-image: linear-gradient(to right, #28ce7a 0%, #0daa5a 100%);
    cursor: pointer; }
    .header_main .header_dropdown_button:hover {
      background: #0c9951; }
    .header_main .header_dropdown_button .header_dropdown_button_icon {
      display: block;
      width: 100%;
      height: 100%;
      background: url("../img/drop_menu_icon.svg") 50% 50% no-repeat; }
    .header_main .header_dropdown_button.opened .header_dropdown_button_icon {
      background: url("../img/drop_menu_icon_opened.svg") 50% 50% no-repeat; }
  .header_main .header_main_menu {
    width: 100%;
    background-color: #323232;
    display: none; }
    .header_main .header_main_menu .navigation {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .header_main .header_main_menu .navigation > ul {
        font-size: 11px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.39px; }
        .header_main .header_main_menu .navigation > ul > li {
          float: left;
          padding: 0 20px;
          margin-left: 22px; }
          .header_main .header_main_menu .navigation > ul > li:first-child {
            margin-left: 0; }
          .header_main .header_main_menu .navigation > ul > li.active .main_menu_item {
            color: #7fcfff; }
          .header_main .header_main_menu .navigation > ul > li.menu_item_yellow:hover .main_menu_item {
            color: #fff751; }
          .header_main .header_main_menu .navigation > ul > li.menu_item_green:hover .main_menu_item {
            color: #38ae79; }
          .header_main .header_main_menu .navigation > ul > li.menu_item_red:hover .main_menu_item {
            color: #ff553d; }
          .header_main .header_main_menu .navigation > ul > li.menu_item_blue:hover .main_menu_item {
            color: #3989ed; }
          .header_main .header_main_menu .navigation > ul > li.menu_item_purple:hover .main_menu_item {
            color: #ac79ff; }
          .header_main .header_main_menu .navigation > ul > li.menu_item_lightgreen:hover .main_menu_item {
            color: #28ce7a; }
          .header_main .header_main_menu .navigation > ul > li:hover .main_menu_item {
            color: #7fcfff; }
          .header_main .header_main_menu .navigation > ul > li:hover .grid_submenu, .header_main .header_main_menu .navigation > ul > li:hover .submenu {
            display: block; }
          .header_main .header_main_menu .navigation > ul > li.has_submenu {
            position: relative; }
            .header_main .header_main_menu .navigation > ul > li.has_submenu .main_menu_item:after {
              content: '\f107';
              font-family: 'FontAwesome';
              display: block;
              width: 9px;
              height: 5px;
              position: absolute;
              top: calc(50% - 2.5px);
              right: -16px;
              line-height: 7px;
              font-size: 14px;
              font-weight: 400; }
            .header_main .header_main_menu .navigation > ul > li.has_submenu:hover .main_menu_item:after {
              content: '\f106'; }
        .header_main .header_main_menu .navigation > ul a {
          color: #fff; }
        .header_main .header_main_menu .navigation > ul .main_menu_item {
          line-height: 45px;
          display: block;
          position: relative; }
      .header_main .header_main_menu .navigation .grid_submenu, .header_main .header_main_menu .navigation .submenu, .header_main .header_main_menu .navigation .sub_submenu {
        display: none;
        position: absolute;
        top: calc(100% - 1px);
        left: 0;
        border-top: 3px solid #7fcfff;
        background-color: #323232; }
      .header_main .header_main_menu .navigation .menu_item_yellow .grid_submenu, .header_main .header_main_menu .navigation .menu_item_yellow .submenu, .header_main .header_main_menu .navigation .menu_item_yellow .sub_submenu {
        border-top: 3px solid #fff751; }
      .header_main .header_main_menu .navigation .menu_item_green .grid_submenu, .header_main .header_main_menu .navigation .menu_item_green .submenu, .header_main .header_main_menu .navigation .menu_item_green .sub_submenu {
        border-top: 3px solid #38ae79; }
      .header_main .header_main_menu .navigation .menu_item_red .grid_submenu, .header_main .header_main_menu .navigation .menu_item_red .submenu, .header_main .header_main_menu .navigation .menu_item_red .sub_submenu {
        border-top: 3px solid #ff553d; }
      .header_main .header_main_menu .navigation .menu_item_blue .grid_submenu, .header_main .header_main_menu .navigation .menu_item_blue .submenu, .header_main .header_main_menu .navigation .menu_item_blue .sub_submenu {
        border-top: 3px solid #3989ed; }
      .header_main .header_main_menu .navigation .menu_item_purple .grid_submenu, .header_main .header_main_menu .navigation .menu_item_purple .submenu, .header_main .header_main_menu .navigation .menu_item_purple .sub_submenu {
        border-top: 3px solid #ac79ff; }
      .header_main .header_main_menu .navigation .menu_item_lightgreen .grid_submenu, .header_main .header_main_menu .navigation .menu_item_lightgreen .submenu, .header_main .header_main_menu .navigation .menu_item_lightgreen .sub_submenu {
        border-top: 3px solid #28ce7a; }
      .header_main .header_main_menu .navigation .grid_submenu {
        width: 862px; }
        .header_main .header_main_menu .navigation .grid_submenu ul li {
          float: left;
          width: 25%;
          height: 100px;
          padding: 30px 25px;
          border-top: 1px solid #262626;
          border-right: 1px solid #262626; }
          .header_main .header_main_menu .navigation .grid_submenu ul li:nth-child(-n+4) {
            border-top: none; }
          .header_main .header_main_menu .navigation .grid_submenu ul li:nth-child(4n) {
            border-right: none; }
          .header_main .header_main_menu .navigation .grid_submenu ul li .grid_menu_item {
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center; }
            .header_main .header_main_menu .navigation .grid_submenu ul li .grid_menu_item img {
              display: block;
              width: 40px;
              height: 40px;
              margin-right: 19px; }
            .header_main .header_main_menu .navigation .grid_submenu ul li .grid_menu_item span {
              font-size: 13px;
              font-weight: 400;
              text-transform: none; }
            .header_main .header_main_menu .navigation .grid_submenu ul li .grid_menu_item:hover {
              color: #7fcfff; }
      .header_main .header_main_menu .navigation .submenu {
        font-size: 12px;
        font-weight: 400;
        text-transform: none; }
        .header_main .header_main_menu .navigation .submenu li {
          border-bottom: 1px solid #2c2c2c;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
          .header_main .header_main_menu .navigation .submenu li:hover > .main_submenu_item, .header_main .header_main_menu .navigation .submenu li.active > .main_submenu_item {
            background-color: #292929; }
          .header_main .header_main_menu .navigation .submenu li .main_submenu_item {
            background-color: #323232;
            line-height: 16px;
            padding: 0 20px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            height: 51px;
            white-space: nowrap;
            width: 100%; }
            .header_main .header_main_menu .navigation .submenu li .main_submenu_item .submenu_icon_block {
              width: 21px;
              margin-right: 9px; }
            .header_main .header_main_menu .navigation .submenu li .main_submenu_item .submenu_image_block {
              width: 30px;
              margin-right: 9px; }
            .header_main .header_main_menu .navigation .submenu li .main_submenu_item img {
              max-width: 100%;
              display: block;
              margin: 0 auto; }
          .header_main .header_main_menu .navigation .submenu li:last-child {
            border-bottom: none; }
          .header_main .header_main_menu .navigation .submenu li.has_submenu > .main_submenu_item {
            position: relative;
            padding-right: 25px; }
            .header_main .header_main_menu .navigation .submenu li.has_submenu > .main_submenu_item:after {
              content: "\f105";
              position: absolute;
              top: calc(50% - 5px);
              right: 20px;
              font-size: 14px;
              line-height: 10px;
              font-family: 'FontAwesome'; }
          .header_main .header_main_menu .navigation .submenu li.has_submenu:hover > .main_submenu_item:after {
            color: #7fcfff; }
          .header_main .header_main_menu .navigation .submenu li.has_submenu:hover .sub_submenu {
            display: block; }
      .header_main .header_main_menu .navigation .sub_submenu {
        display: none;
        position: absolute;
        left: 100%;
        top: -3px;
        height: calc(100% + 3px);
        background-color: #282828;
        border-left: 1px solid #202020; }
        .header_main .header_main_menu .navigation .sub_submenu li {
          border-color: #202020; }
          .header_main .header_main_menu .navigation .sub_submenu li .main_submenu_item {
            background-color: #282828;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center; }
            .header_main .header_main_menu .navigation .sub_submenu li .main_submenu_item:hover, .header_main .header_main_menu .navigation .sub_submenu li .main_submenu_item.active {
              background-color: #202020;
              color: #7fcfff; }
            .header_main .header_main_menu .navigation .sub_submenu li .main_submenu_item.no_hover_color:hover, .header_main .header_main_menu .navigation .sub_submenu li .main_submenu_item.no_hover_color.active {
              color: #fff; }
      .header_main .header_main_menu .navigation .menu_item_yellow li.has_submenu:hover > .main_submenu_item:after,
      .header_main .header_main_menu .navigation .menu_item_yellow .sub_submenu li .main_submenu_item:hover,
      .header_main .header_main_menu .navigation .menu_item_yellow .sub_submenu li .main_submenu_item.active {
        color: #fff751; }
      .header_main .header_main_menu .navigation .menu_item_yellow .sub_submenu li .main_submenu_item.no_hover_color:hover,
      .header_main .header_main_menu .navigation .menu_item_yellow .sub_submenu li .main_submenu_item.no_hover_color.active {
        color: #fff; }
      .header_main .header_main_menu .navigation .menu_item_green li.has_submenu:hover > .main_submenu_item:after,
      .header_main .header_main_menu .navigation .menu_item_green .sub_submenu li .main_submenu_item:hover,
      .header_main .header_main_menu .navigation .menu_item_green .sub_submenu li .main_submenu_item.active {
        color: #38ae79; }
      .header_main .header_main_menu .navigation .menu_item_green .sub_submenu li .main_submenu_item.no_hover_color:hover,
      .header_main .header_main_menu .navigation .menu_item_green .sub_submenu li .main_submenu_item.no_hover_color.active {
        color: #fff; }
      .header_main .header_main_menu .navigation .menu_item_red:hover li.has_submenu:hover > .main_submenu_item:after,
      .header_main .header_main_menu .navigation .menu_item_red:hover .sub_submenu li .main_submenu_item:hover,
      .header_main .header_main_menu .navigation .menu_item_red:hover .sub_submenu li .main_submenu_item.active {
        color: #ff553d; }
      .header_main .header_main_menu .navigation .menu_item_red:hover .sub_submenu li .main_submenu_item.no_hover_color:hover,
      .header_main .header_main_menu .navigation .menu_item_red:hover .sub_submenu li .main_submenu_item.no_hover_color.active {
        color: #fff; }
      .header_main .header_main_menu .navigation .menu_item_blue:hover li.has_submenu:hover > .main_submenu_item:after,
      .header_main .header_main_menu .navigation .menu_item_blue:hover .sub_submenu li .main_submenu_item:hover,
      .header_main .header_main_menu .navigation .menu_item_blue:hover .sub_submenu li .main_submenu_item.active {
        color: #3989ed; }
      .header_main .header_main_menu .navigation .menu_item_blue:hover .sub_submenu li .main_submenu_item.no_hover_color:hover,
      .header_main .header_main_menu .navigation .menu_item_blue:hover .sub_submenu li .main_submenu_item.no_hover_color.active {
        color: #fff; }
      .header_main .header_main_menu .navigation .menu_item_purple li.has_submenu:hover > .main_submenu_item:after,
      .header_main .header_main_menu .navigation .menu_item_purple .sub_submenu li .main_submenu_item:hover,
      .header_main .header_main_menu .navigation .menu_item_purple .sub_submenu li .main_submenu_item.active {
        color: #ac79ff; }
      .header_main .header_main_menu .navigation .menu_item_purple .sub_submenu li .main_submenu_item.no_hover_color:hover,
      .header_main .header_main_menu .navigation .menu_item_purple .sub_submenu li .main_submenu_item.no_hover_color.active {
        color: #fff; }
      .header_main .header_main_menu .navigation .menu_item_lightgreen li.has_submenu:hover > .main_submenu_item:after,
      .header_main .header_main_menu .navigation .menu_item_lightgreen .sub_submenu li .main_submenu_item:hover,
      .header_main .header_main_menu .navigation .menu_item_lightgreen .sub_submenu li .main_submenu_item.active {
        color: #28ce7a; }
      .header_main .header_main_menu .navigation .menu_item_lightgreen .sub_submenu li .main_submenu_item.no_hover_color:hover,
      .header_main .header_main_menu .navigation .menu_item_lightgreen .sub_submenu li .main_submenu_item.no_hover_color.active {
        color: #fff; }

.header_logo img {
  display: block; }

/* SECTION */
.home_section:nth-child(odd) {
  background-image: -webkit-gradient(linear, right top, left top, from(#ffffff), color-stop(4%, #fafafa), color-stop(96%, #fafafa), to(#ffffff));
  background-image: -webkit-linear-gradient(right, #ffffff 0%, #fafafa 4%, #fafafa 96%, #ffffff 100%);
  background-image: -o-linear-gradient(right, #ffffff 0%, #fafafa 4%, #fafafa 96%, #ffffff 100%);
  background-image: linear-gradient(270deg, #ffffff 0%, #fafafa 4%, #fafafa 96%, #ffffff 100%); }

.section {
  padding: 45px 0 70px; }
  .section .section_title_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .section .section_title_block .info_block {
      padding-right: 40px; }
  .section .post_item_readmore {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
    color: #28ce7a; }
    .section .post_item_readmore span {
      margin-right: 8px; }

.info_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .info_block .info_block_link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #464950; }
    .info_block .info_block_link:hover {
      color: #0daa5a; }
  .info_block img {
    display: block;
    margin-right: 8px; }
  .info_block .info_block_text {
    font-weight: 700;
    font-size: 15px; }

.section_content_table {
  padding-top: 40px;
  padding-bottom: 40px; }
  .section_content_table > div {
    padding-left: 50px; }
  .section_content_table .table_nav {
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
    margin-bottom: 26px; }
    .section_content_table .table_nav li {
      padding: 0 20px;
      border-right: 2px solid #d7d7d7; }
      .section_content_table .table_nav li:last-child {
        padding-right: 0;
        border-right: none; }
      .section_content_table .table_nav li a {
        color: #307fe2; }
      .section_content_table .table_nav li.active {
        position: relative; }
        .section_content_table .table_nav li.active:after {
          content: ' ';
          display: block;
          width: 22px;
          height: 2px;
          position: absolute;
          bottom: -5px;
          margin: 0 auto;
          background-color: #58c1ff;
          left: calc(50% - 11px); }
      .section_content_table .table_nav li.active a, .section_content_table .table_nav li:hover a {
        color: #1f5497; }
  .section_content_table .table_header {
    height: 43px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #f5f5f5; }
    .section_content_table .table_header p {
      font-size: 12px;
      font-weight: 600;
      color: #989ba1; }
  .section_content_table .table_row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
    font-size: 13px;
    font-weight: 700; }
    .section_content_table .table_row:first-child {
      border-top: none; }
    .section_content_table .table_row:last-child {
      border-bottom: none; }
    .section_content_table .table_row .flex {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .section_content_table .table_row a:not(.btn-green) {
      color: #464950; }
    .section_content_table .table_row .name_cell {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      font-size: 15px; }
      .section_content_table .table_row .name_cell img {
        margin-right: 19px; }
      .section_content_table .table_row .name_cell .title:hover {
        color: #0DAA5A; }
    .section_content_table .table_row .rating_cell {
      font-weight: 600; }
      .section_content_table .table_row .rating_cell img {
        margin-right: 23px; }
    .section_content_table .table_row .reviews_cell {
      font-weight: 600; }
      .section_content_table .table_row .reviews_cell img {
        margin-right: 9px; }
    .section_content_table .table_row .two_buttons_h_cell a:first-child {
      margin-right: 20px; }
    .section_content_table .table_row .row_description {
      width: 100%;
      color: #989ba1;
      font-size: 10px;
      font-weight: 400;
      margin: 17px 0 0; }

.section_content_table_bookmakers .table_cell_1 {
  width: 292px; }

.section_content_table_bookmakers .table_cell_2 {
  width: 320px; }

.section_content_table_bookmakers .table_cell_3 {
  width: 219px; }

.section_content_table_bookmakers .table_cell_4 {
  width: auto; }

.section_content_table_bonus .table_cell_1 {
  width: 250px; }

.section_content_table_bonus .table_cell_2 {
  width: 280px; }

.section_content_table_bonus .table_cell_3 {
  width: 200px; }

.section_content_table_bonus .table_cell_4 {
  width: 229px; }

.section_content_table_bonus .table_cell_5 {
  width: auto; }

.section_content_table_bonus .bonus_cell {
  font-size: 15px; }

.section_content_table_bonus .bonus_code_cell, .section_content_table_bonus .turnover_cell {
  font-weight: 400; }

.section_content_table_betts .table_cell_1 {
  width: 130px; }

.section_content_table_betts .table_cell_2 {
  width: 87px; }

.section_content_table_betts .table_cell_3 {
  width: 304px;
  padding-right: 55px; }

.section_content_table_betts .table_cell_4 {
  width: 197px; }

.section_content_table_betts .table_cell_5 {
  width: 142px; }

.section_content_table_betts .table_cell_6 {
  width: 142px; }

.section_content_table_betts .table_cell_7 {
  width: auto; }

.section_content_table_betts .table_header_titles.table_cell_5, .section_content_table_betts .table_header_titles.table_cell_6, .section_content_table_betts .table_header_titles.table_cell_7 {
  padding-left: 7px; }

.section_content_table_betts .date_cell, .section_content_table_betts .time_cell, .section_content_table_betts .category_cell {
  font-weight: 400; }

.section_content_table_betts .match_cell, .section_content_table_betts .coeff_cell {
  font-size: 15px; }

.section_content_table_betts .match_cell {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .section_content_table_betts .match_cell .team_1 {
    margin-right: 14px; }
  .section_content_table_betts .match_cell .team_2 {
    margin-left: 14px; }

.section_content_table_betts .coeff_wrap {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .section_content_table_betts .coeff_wrap img {
    margin-top: 11px; }

.section_posts_archive {
  margin-top: 43px; }
  .section_posts_archive .post_heading {
    font-size: 11px; }
    .section_posts_archive .post_heading a {
      color: #307fe2;
      font-weight: 700; }
    .section_posts_archive .post_heading p {
      margin: 0; }
  .section_posts_archive .post_item_excerpt {
    line-height: 20px; }

.section_posts_3col {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding-bottom: 20px; }
  .section_posts_3col .post_item {
    width: 354px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    margin-bottom: 20px; }
    .section_posts_3col .post_item .post_item_meta_block {
      top: 20px;
      left: 20px; }
      .section_posts_3col .post_item .post_item_meta_block .post_item_meta {
        background-color: rgba(0, 0, 0, 0.4);
        border-width: 1px;
        border-radius: 3px;
        border-style: solid;
        color: #fff;
        text-transform: uppercase;
        font-size: 11px;
        line-height: 12px;
        padding: 4px 10px;
        font-weight: 700;
        letter-spacing: .46px; }
    .section_posts_3col .post_item .post_item_review_bock {
      top: 23px;
      right: 20px;
      color: #fff;
      font-size: 13px;
      font-weight: bold;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .section_posts_3col .post_item .post_item_review_bock img {
        margin-right: 7px; }
    .section_posts_3col .post_item .image_block img {
      width: 100%;
      height: auto; }
    .section_posts_3col .post_item .content_block {
      padding: 28px 20px; }
    .section_posts_3col .post_item .post_item_title {
      margin: 12px 0 7px; }

.section_posts_fullwidh {
  padding-bottom: 40px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .section_posts_fullwidh .post_item {
    width: 100%;
    padding: 21px 25px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #ffffff; }
    .section_posts_fullwidh .post_item:last-child {
      border-radius: 0 0 8px 8px; }
    .section_posts_fullwidh .post_item:first-child {
      border-radius: 8px 8px 0 0; }
  .section_posts_fullwidh .post_item_title {
    margin: 11px 0; }
  .section_posts_fullwidh .image_block img {
    width: 285px;
    height: auto; }
  .section_posts_fullwidh .content_block {
    width: 478px;
    margin-left: 39px;
    margin-right: 90px; }
  .section_posts_fullwidh .buttons_block {
    -ms-flex-item-align: center;
    align-self: center; }
    .section_posts_fullwidh .buttons_block .button {
      width: 180px;
      margin-top: 20px; }

.section_review_archive {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-top: 43px; }
  .section_review_archive .logo {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 30px;
    width: 100%;
    border-radius: 5px 5px 0 0; }
    .section_review_archive .logo.ladbrokes {
      background-color: #d9182b; }
    .section_review_archive .logo.coral {
      background-color: #3461a3; }
    .section_review_archive .logo.betfair {
      background-image: -webkit-gradient(linear, left top, right top, from(#ffc000), to(#ff9300));
      background-image: -webkit-linear-gradient(left, #ffc000 0%, #ff9300 100%);
      background-image: -o-linear-gradient(left, #ffc000 0%, #ff9300 100%);
      background-image: linear-gradient(to right, #ffc000 0%, #ff9300 100%); }
    .section_review_archive .logo.bet365 {
      background-color: #007e59; }
    .section_review_archive .logo.guts {
      background-color: #000000; }
  .section_review_archive .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 0 0 5px 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    padding: 24px 15px 21px; }
    .section_review_archive .content img {
      display: block; }
    .section_review_archive .content .review_name {
      margin: 10px 0 15px; }
    .section_review_archive .content .excerpt {
      line-height: 20px;
      margin: 19px 0 20px;
      text-align: center; }
    .section_review_archive .content .button {
      width: 120px; }

.section_review_5col .review_item {
  width: 207px; }

.main {
  width: 66.12%;
  padding-right: 56px; }

.section_articles {
  padding: 0; }

.section.sidebar-right {
  border-top: 2px solid #f5f5f5; }

.articles .article {
  background: url("../img/dashed-silver.png") 0 100% repeat-x;
  padding: 65px 0 45px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px; }
  .articles .article:last-child {
    background: none; }
  .articles .article .article_content {
    margin-top: 19px; }
    .articles .article .article_content a {
      color: #307fe2;
      text-decoration: underline; }
    .articles .article .article_content ul {
      list-style-image: url("../img/ul_marker.svg");
      padding-left: 12px;
      line-height: 26px; }
      .articles .article .article_content ul li {
        padding-left: 8px; }
  .articles .article .button_block {
    margin-top: 45px;
    margin-bottom: 6px; }
  .articles .article .button_image_block img {
    display: block;
    margin: 0 auto; }
  .articles .article .button_image_block .button {
    top: 81px;
    left: 52px; }
  .articles .article .button {
    width: 170px;
    margin: 0 auto; }
  .articles .article .description {
    margin: 26px 0 0; }

/* SIDEBAR */
.sidebar {
  width: 33.87%;
  border-left: 2px solid #f5f5f5;
  padding-top: 15px;
  padding-left: 36px; }
  .sidebar .sidebar_widget {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 48px;
    background: url("../img/dashed-silver.png") 0 100% repeat-x;
    padding: 48px 0 50px; }
    .sidebar .sidebar_widget:last-child {
      background: none; }
    .sidebar .sidebar_widget .button_block {
      width: 100%;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      margin-top: 33px; }
      .sidebar .sidebar_widget .button_block .button {
        margin: 0; }
  .sidebar .widget_content {
    margin-top: 10px; }
  .sidebar .widget_table a:not(.btn-green) {
    color: #464950; }
  .sidebar .widget_table .name_cell {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 15px; }
    .sidebar .widget_table .name_cell img {
      margin-right: 19px; }
    .sidebar .widget_table .name_cell .title {
      font-weight: bold; }
      .sidebar .widget_table .name_cell .title:hover {
        color: #0DAA5A; }
    .sidebar .widget_table .name_cell .text_block {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .sidebar .widget_table .name_cell .text_block .description {
        color: #464950;
        font-size: 12px; }
  .sidebar .widget_table_row {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #e6e6e6;
    padding: 16px 19px 16px 28px; }
    .sidebar .widget_table_row:last-child {
      border-bottom: none; }
  .sidebar .widget_posts_archive .post_item {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px 0 20px 28px;
    border-bottom: 1px solid #e6e6e6; }
    .sidebar .widget_posts_archive .post_item:last-child {
      border-bottom: none; }
  .sidebar .widget_posts_archive .image_block {
    min-width: 112px;
    width: 112px;
    margin-right: 13px; }
    .sidebar .widget_posts_archive .image_block img {
      width: 100%;
      height: auto;
      display: block; }
  .sidebar .widget_posts_archive .post_item_title {
    font-size: 15px;
    line-height: 18px;
    margin: 0; }
  .sidebar .widget_posts_archive .post_item_readmore {
    font-size: 13px; }
    .sidebar .widget_posts_archive .post_item_readmore img {
      height: 9px;
      width: auto; }

/* FOOTER */
.footer {
  background-image: -webkit-gradient(linear, left top, right top, from(#1d1d1d), to(#323232));
  background-image: -webkit-linear-gradient(left, #1d1d1d 0%, #323232 100%);
  background-image: -o-linear-gradient(left, #1d1d1d 0%, #323232 100%);
  background-image: linear-gradient(to right, #1d1d1d 0%, #323232 100%);
  color: #fff; }
  .footer img {
    display: block; }
  .footer .footer_top {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 80px 0 50px; }
    .footer .footer_top .text {
      width: 340px;
      margin-top: 16px;
      margin-bottom: 28px;
      opacity: 0.6;
      font-size: 12px;
      line-height: 20px; }
    .footer .footer_top .images {
      width: 360px;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
  .footer .footer_bottom {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 51px 0; }
    .footer .footer_bottom .copyright {
      margin: 0;
      font-weight: 600; }
    .footer .footer_bottom a {
      color: #ffffff;
      font-weight: 600; }
  .footer .footer_column {
    width: 136px;
    margin: 0 28px; }
    .footer .footer_column:last-child {
      margin-right: 0; }
    .footer .footer_column h4.title {
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin-top: 0;
      margin-bottom: 18px; }
    .footer .footer_column li {
      margin-bottom: 9px; }
      .footer .footer_column li a {
        opacity: 0.6;
        color: #ffffff;
        line-height: 20px; }

.overlay {
  z-index: 100;
  position: fixed;
  background-color: #292929;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none; }
