

/* FONTS */
@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova/ProximaNova-Light.ttf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova/ProximaNova-LightIt.ttf');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova/ProximaNova-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova/ProximaNova-RegularIt.ttf');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova/ProximaNova-Semibold.ttf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova/ProximaNova-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GothamBlack';
    src: url('../fonts/Gotham Black.otf');
    font-weight: normal;
    font-style: normal;
}
* {
	box-sizing: border-box;
	outline: none;
}

body {
	font-family: 'ProximaNova';
	color: #464950;
	font-size: 13px;
}
a {
	text-decoration: none;
}
a, .header_dropdown_button, i.fa {
	transition-duration: .3s;
}
h1.title {
	color: #ffffff;
	font-size: 48px;
	line-height: 1.2em;
	font-weight: 600;
	margin-top: 0;
	margin-bottom: 20px;

	&.fwn {
		font-weight: normal;
		font-size: 30px;
		font-weight: 300;
	}
}
p.title_description {
	font-size: 16px;
}
p.banner_description {
	font-size: 13px;
}
p.title_description, p.banner_description {
	margin: 0;
	color: rgba(255,255,255,.8);
	line-height: 20px;
}

h2 {
	margin: 0;
	font-size: 22px;
	text-transform: uppercase;
}
h2.post_title {
	font-size: 28px;
	font-weight: 600;
	text-transform: none;
}
h3.post_item_title {
	font-size: 16px;
	line-height: 22px;
	color: #000;
}
h3.article_title {
	font-size: 22px;
	line-height: 26px;
	color: #4e4e4e;
	font-weight: 600;
	margin: 0;
}
h4 {
	color: #4e4e4e;
	font-size: 16px;
	line-height: 26px;
}
ol, ul {
	margin: 0;
	padding: 0;
}
ul {
	list-style: none;
}
ul.list_style_round, ol.list_style_round {

	li {
		padding: 5px 0 5px 55px;
		position: relative;
		min-height: 30px;
		margin-bottom: 20px;
		font-size: 14px;
		line-height: 20px;

		&:last-child {
			margin-bottom: 0;
		}

		&:before {
			display: block;
			content: '';
			width: 30px;
			height: 30px;
			position: absolute;
			left: 0;
			top: 0;
			border-radius: 50%;
			background-color: #307fe2;
			background-image: url('../img/check_icon.svg');
			background-position: center center;
			background-repeat: no-repeat;
		}
	}
}

ul.list_style_round{

	li {

		&:before {
			background-color: #307fe2;
			background-image: url('../img/check_icon.svg');
			background-position: center center;
			background-repeat: no-repeat;
		}
	}
}
ol.list_style_round{
	list-style: none;
	counter-reset: custom_counter;

	li {

		&:before {
			counter-increment: custom_counter;
  			content:counter(custom_counter);
  			color: #307fe2;
  			display: flex;
  			justify-content: center;
  			align-items: center;
  			font-size: 16px;
  			font-weight: bold;
			background-color: #fff;
			border: 1px solid #307fe2;
		}
	}
}

blockquote {
	position: relative;
	margin: 20px 0;
	padding: 15px 15px 15px 85px;
	background-color: #f9f9f9;
	border-radius: 5px;
	font-style: italic;

	&:before {
		content: '“';
		font-family: 'GothamBlack';
		position: absolute;
		top: calc(50% - 13px);
		left: 22px;
		font-size: 72px;
		line-height: 50px;
		font-style: normal;
		font-weight: 900;
		color: #307FE2;
	}
}
.container {
	width: 1200px;
	padding: 0 17px;
	margin: 0 auto;
}
.clearfix{
  &:after, &:before{
    content: "";
    display: table;
    table-layout: fixed;
  }
  &:after{
    clear: both;
  }
}
.mobile_only {
  display: none;
  
  @media (max-width: 767px){
    display: block;  
  }
}
.bold {
  font-weight: bold;
}
.lowercase {
  text-transform: lowercase;
}
.uppercase {
  text-transform: uppercase;
}
.flex {
  display: flex;
}
.flex-row {
	flex-direction: row;
}
.pos-r {
	position: relative;
}
.pos-a {
	position: absolute;
}
.button {
	width: 108px;
	height: 44px;
	border-radius: 5px;
	font-size: 13px;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.btn-white {
	border: 2px solid #CDCED2;
	color: #464950;

	&:hover {
		background-color: rgba(205, 206, 210, 0.2);
	}
}
.btn-green {
	background: linear-gradient(90deg, #28CE7A 0%, #0DAA5A 100%);
	color: #fff;

	&:hover {
		background: linear-gradient(90deg, #0c9951 0%, #0c9951 100%);
	}
}
.section_button {
	width: 170px;
	background-image: linear-gradient(to right, #1d1d1d 0%, #323232 100%);
	color: #fff;
	margin: 0 auto;
}
.v_divider {
	height: 15px;	
	width: 2px;	
	background-color: #d7d7d7;	
	margin: 0 19px;
}
.border-blue {
	border-color: #1e91de;
}
.border-yellow {
	border-color: #fc9c5a;
}

/* HEADER */
.header_main {
	color: #fff;
	background-color: #1d1d1d;
	z-index: 110;

	.header_inner {
		justify-content: space-between;
		align-items: center;
		padding: 25px 0;
	}
	.header_menu {
		display: flex;	
		flex-direction: row;	
		align-items: center;
	}
	.header_nav {

		ul {
			font-size: 13px;
			line-height: 16px;
			font-weight: bold;

			li {
				float: left;
				padding: 0 10px;

				&.active a {
					color: #28CE7A;
				}
			}

			a {
				color: #fff;

				&:hover {
					color: #28CE7A;
				}
			}
		}
	}
	.header_right_divider {	
		height: 15px;	
		width: 2px;	
		background-color: #E5E5E5;	
		opacity: 0.5;
		margin: 0 15px 0 10px;	
	}
	.header_right_actions {
		display: flex;
		align-items: center;

		> div {
			margin: 0 15px;
		}
		img {
			display: block;
		}
		.header_lang_block {
			a {
				display: flex;
				align-items: center;

				.header_dropdown_arrow_icon {
					margin-left: 10px;
					font-size: 14px;
					color: rgba(255,255,255,.5);
				}

				&:hover, &.active {

					.header_dropdown_arrow_icon {
						color: #0DAA5A;	
					}
					
				}
			}
			
		}

		
	}

	.header_lang_menu {
		display: none;
	    position: absolute;
	    background-color: #1d1d1d;
	    top: 50px;
	    left: -15px;
	    z-index: 100;

	    li {
	    	display: flex;
	    	align-items: center;
	    	padding: 15px;
	    }
	    a {
	    	color: #fff;
	    	font-size: 12px;
	    }
	    img {
	    	margin-right: 9px;
	    }
	}
	
	.header_search_block {
		a {
			width: 17px;
			height: 17px;
			display: block;
			background: url('../img/search_icon.svg') 50% 50% no-repeat;
			background-size: 100% 100%;

			&:hover, &.active {
				background: url('../img/search_icon_hover.svg') 50% 50% no-repeat;
				background-size: 100% 100%;
			}
		}
	}

	.header_search_menu {
		display: none;
		width: 100%;
		height: 100%;
		position: absolute;
		right: 0;
		z-index: 500;

		.header_search_menu_wrapper {
			display: flex;
			float: right;
			width: 70%;
			align-items: center;
			justify-content: space-between;
			height: 100%;
			background-color: #1d1d1d;
			padding: 0 15px;
		}
		form {
			display: flex;
			align-items: center;
		}
		button {
			border: none;
		    background: transparent;
		    color: #fff;
		    height: auto;
		    padding: 0;
		}
		input {
			width: 300px;
			margin-left: 13px;
			border: none;
		    background: transparent;
		    color: #fff;
			font-size: 15px;

			&::placeholder {
				color: rgba(255,255,255,.5);
			}
		}

		.header_quick_links_menu {
			display: none;
			position: absolute;
		    background: #fff;
		    width: 564px;
		    top: 100%;
		    left: calc(50% - 282px);
		    padding-top: 27px;

		    .title {
				color: #989ba1;
				font-size: 11px;
				font-weight: 600;
				text-transform: uppercase;
				letter-spacing: 0.5px;
				margin: 0 0 8px 42px;
		    }

		    li {
				padding: 15px 72px;
				border-bottom: 1px solid #f2f2f2;

				&:last-child {
					border-bottom: none;
				}
		    }

		    a {
				color: #464950;
				line-height: 20px;
		    }
		}

	}

	.header_profile_block {
		a {
			width: 14px;
			height: 18px;
			display: block;
			background: url('../img/user_icon.svg') 50% 50% no-repeat;
			background-size: 100% 100%;

			&:hover, &.active {
				background: url('../img/user_icon_hover.svg') 50% 50% no-repeat;
				background-size: 100% 100%;
			}
		}
	}
	.header_dropdown_button {
		width: 42px;
		height: 35px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: 40px;
		border-radius: 4px;
		background-color: #28ce7a;
		background-image: linear-gradient(to right, #28ce7a 0%, #0daa5a 100%);
		cursor: pointer;

		&:hover {
			background: #0c9951;
		}

		.header_dropdown_button_icon {
			display: block;
			width: 100%;
			height: 100%;
			background: url('../img/drop_menu_icon.svg') 50% 50% no-repeat;
		}

		&.opened {
			.header_dropdown_button_icon {
				background: url('../img/drop_menu_icon_opened.svg') 50% 50% no-repeat;					
			}
		}
	}

	.header_main_menu {
		width: 100%;
		background-color: #323232;
		display: none;

		.navigation {
			justify-content: center;

			& > ul {
				font-size: 11px;
				font-weight: 700;
				text-transform: uppercase;
				letter-spacing: 0.39px;

				> li {
					float: left;
					padding: 0 20px;
					margin-left: 22px;

					&:first-child {
						margin-left: 0;
					}

					&.active {
						.main_menu_item {
							color: #7fcfff;
						}
					}
					
					&.menu_item_yellow:hover {
						.main_menu_item {
							color: #fff751;
						}
					}
					&.menu_item_green:hover {
						.main_menu_item {
							color: #38ae79;
						}
					}
					&.menu_item_red:hover {
						.main_menu_item {
							color: #ff553d;
						}
					}
					&.menu_item_blue:hover {
						.main_menu_item {
							color: #3989ed;
						}
					}
					&.menu_item_purple:hover {
						.main_menu_item {
							color: #ac79ff;
						}
					}
					&.menu_item_lightgreen:hover {
						.main_menu_item {
							color: #28ce7a;
						}
					}
					&:hover {

						.main_menu_item {
							color: #7fcfff;
						}
						.grid_submenu, .submenu {
							display: block;
						}
					}
					
					&.has_submenu {
						position: relative;

						.main_menu_item:after {
						 	content: '\f107';
						 	font-family:'FontAwesome';
						    display: block;
						    width: 9px;
						    height: 5px;
						    position: absolute;
						    top: calc(50% - 2.5px);
						    right: -16px;
						    line-height: 7px;
						    font-size: 14px;
						    font-weight: 400;
						}

						&:hover {
							.main_menu_item:after {
								content: '\f106';
							}
						}
					}
				}

				a {
					color: #fff;
				}

				.main_menu_item {
					line-height: 45px;
					display: block;
					position: relative;
				}

			}
			
			.grid_submenu, .submenu, .sub_submenu {
				display: none;
				position: absolute;
				top: calc(100% - 1px);
				left: 0;
				border-top: 3px solid #7fcfff;
				background-color: #323232;
			}
			.menu_item_yellow {
			
				.grid_submenu, .submenu, .sub_submenu {
					border-top: 3px solid #fff751;
				}

			}
			.menu_item_green {

				.grid_submenu, .submenu, .sub_submenu {
					border-top: 3px solid #38ae79;
				}

			}
			.menu_item_red {
				.grid_submenu, .submenu, .sub_submenu {
					border-top: 3px solid #ff553d;
				}
			}
			.menu_item_blue {
				.grid_submenu, .submenu, .sub_submenu {
					border-top: 3px solid #3989ed;
				}
			}
			.menu_item_purple {
				.grid_submenu, .submenu, .sub_submenu {
					border-top: 3px solid #ac79ff;
				}
			}
			.menu_item_lightgreen {
				.grid_submenu, .submenu, .sub_submenu {
					border-top: 3px solid #28ce7a;
				}
			}

			.grid_submenu {
				width: 862px;

				ul {

					li {
						float: left;
						width: 25%;
						height: 100px;
						border-top: 1px solid #262626;
						border-right: 1px solid #262626;

						&:nth-child(-n+4) {
							border-top: none;
						}
						&:nth-child(4n) {
							border-right: none;
						}

						.grid_menu_item {
							align-items: center;
							padding: 30px 25px;

							img {
								display: block;
								width: 40px;
								height: 40px;
								margin-right: 19px;
							}

							span {
								font-size: 13px;
								font-weight: 400;
								text-transform: none;
							}

							&:hover {
								background: #262626;
							}
						}
					}

				}
			}

			.submenu {
				font-size: 12px;	
				font-weight: 400;
				text-transform: none;

				li {
					border-bottom: 1px solid #2c2c2c;
					display: flex;	

					&:hover, &.active {
						> .main_submenu_item {
							background-color: #292929;
						}
					}
					.main_submenu_item {
						background-color: #323232;
						line-height: 16px;
						padding: 0 20px;
						display: flex;
						align-items: center;	
						height: 51px;
						white-space: nowrap;
						width: 100%;

						.submenu_icon_block {
							width: 21px;
							margin-right: 9px;
						}
						.submenu_image_block {
							width: 30px;
							margin-right: 9px;
						}
						img {
							max-width: 100%;
							display: block;
							margin: 0 auto;
						}
					}

					&:last-child {
						border-bottom: none;
					}

					&.has_submenu {
						> .main_submenu_item {
							position: relative;
							padding-right: 25px;

							&:after {
								content: "\f105";
								position: absolute;
								top: calc(50% - 5px);
								right: 20px;
								font-size: 14px;
								line-height: 10px;
								font-family:'FontAwesome';
							}
						}

						&:hover {
							> .main_submenu_item {
								&:after {
									color: #7fcfff;
								}
							}
							.sub_submenu {
								display: block;
							}
						}

						
					}
				}
			}

			.sub_submenu {
				display: none;
				position: absolute;
				left: 100%;
				top: -3px;
				height: calc(100% + 3px);
				background-color: #282828;
				border-left: 1px solid #202020;

				li {
					border-color: #202020;
					

					.main_submenu_item {
						background-color: #282828;
						align-items: center;									

						&:hover, &.active {
							background-color: #202020;
							color: #7fcfff;
						}

						&.no_hover_color:hover, &.no_hover_color.active {
							color: #fff;
						}
					}
				}
			}

			.menu_item_yellow {

				li.has_submenu:hover > .main_submenu_item:after,
				.sub_submenu li .main_submenu_item:hover,
				.sub_submenu li .main_submenu_item.active {
					color: #fff751;
				}
				.sub_submenu li .main_submenu_item.no_hover_color:hover,
				.sub_submenu li .main_submenu_item.no_hover_color.active {
					color: #fff;
				}

			}

			.menu_item_green {

				li.has_submenu:hover > .main_submenu_item:after,
				.sub_submenu li .main_submenu_item:hover,
				.sub_submenu li .main_submenu_item.active {
					color: #38ae79;
				}
				.sub_submenu li .main_submenu_item.no_hover_color:hover,
				.sub_submenu li .main_submenu_item.no_hover_color.active {
					color: #fff;
				}

			}

			.menu_item_red:hover {

				li.has_submenu:hover > .main_submenu_item:after,
				.sub_submenu li .main_submenu_item:hover,
				.sub_submenu li .main_submenu_item.active {
					color: #ff553d;
				}
				.sub_submenu li .main_submenu_item.no_hover_color:hover,
				.sub_submenu li .main_submenu_item.no_hover_color.active {
					color: #fff;
				}
			}

			.menu_item_blue:hover {

				li.has_submenu:hover > .main_submenu_item:after,
				.sub_submenu li .main_submenu_item:hover,
				.sub_submenu li .main_submenu_item.active {
					color: #3989ed;
				}
				.sub_submenu li .main_submenu_item.no_hover_color:hover,
				.sub_submenu li .main_submenu_item.no_hover_color.active {
					color: #fff;
				}
			}

			.menu_item_purple {

				li.has_submenu:hover > .main_submenu_item:after,
				.sub_submenu li .main_submenu_item:hover,
				.sub_submenu li .main_submenu_item.active {
					color: #ac79ff;
				}
				.sub_submenu li .main_submenu_item.no_hover_color:hover,
				.sub_submenu li .main_submenu_item.no_hover_color.active {
					color: #fff;
				}
			}

			.menu_item_lightgreen {

				li.has_submenu:hover > .main_submenu_item:after,
				.sub_submenu li .main_submenu_item:hover,
				.sub_submenu li .main_submenu_item.active {
					color: #28ce7a;
				}
				.sub_submenu li .main_submenu_item.no_hover_color:hover,
				.sub_submenu li .main_submenu_item.no_hover_color.active {
					color: #fff;
				}
			}

		}
			
		
	}
}
.header_logo {
	img {
		display: block;
	}
}

/* BANNER SECTION */

.banner {
	
}
.single_deposit_bonus {
	background-image: linear-gradient(61deg, #ffb464 0%, #f6d365 100%);
}
.banner_single_image {
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
.promotion_article_banner {
	background-color: #ca0000;
	background-image: url('../img/banner_en_be.jpg');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: auto 100%;
	.banner_content {
		height: 492px;
	}	
}
.banner_content {
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	height: 346px;
	padding-top: 68px;

	h1.title {
		max-width: 650px;
	}
}
.banner_single_imagetitle {

	.banner_content {
		

		img {
			margin-bottom: 8px;	
			display: block;	
		}
	}
}
.banner_post_2col {

	.banner_content {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	.banner_content_left {
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		max-width: 500px;
	}
	.title {
		margin-top: 12px;
		margin-bottom: 7px;
	}
	.banner_proposal_block {
		color: #fff;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 15px 21px 15px;
		border-radius: 5px;
		border: 1px dashed #ffffff;
		background-image: linear-gradient(to right, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 24%, rgba(255, 255, 255, 0.15) 71%, rgba(255, 255, 255, 0.15) 100%);

		.button {
			font-size: 18px;
			width: 100%;
		}
		.banner_description {
			color: #c4c4c4;
			margin-top: 10px;
			margin-bottom: 0;
		}
	}
	.banner_proposal_block_title {
		font-size: 36px;
		text-transform: uppercase;
		letter-spacing: 1px;
		margin: 15px 0;
	}

}
.banner_post_bookmakers {
	h1.title {
		margin: 0 0 25px;
		font-size: 40px;
	}
	.banner_content_left {
		.button {
			width: auto;
			padding-left: 45px;
			padding-right: 45px;
		}
	}
}
.banner_rating_block {
	width: 193px;
	height: 163px;
	padding: 35px 40px;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	border-radius: 5px;
	background-color: rgba(29,29,29,.9);
	color: #fff;
	
	p {
		margin: 0;
	}
	.banner_rating {
		font-size: 24px;
	}
	.banner_rating_stars {
		margin: 8px 0 16px;
	}
	.text {
		font-size: 16px;
	}
	.banner_rating_block_action {
		position: absolute;
		top: 18px;
		right: 15px;
		width: 30px;
		line-height: 7px;
		font-size: 8px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: #fff;
		opacity: .3;
	}
}
.banner_menu {
	background: #f5f5f5;
	
	.banner_menu_carousel {
		align-items: center;

		.slick-list {
			padding: 0 17px;
		}
	}
	.banner_carousel_arrow {
		font-size: 20px;
		cursor: pointer;
		padding: 0 10px;
    	background: #f5f5f5;
    	color: #0daa5a;

    	&.slick-disabled {
			cursor: auto;
			color: #cdced2;
    	}
	}
	li {
		padding: 14px 0;
		margin-left: 43px;
	}
	a {
		color: #464950;
		font-size: 12px;
		font-weight: 600;
	}

}


/* BREADCRUMBS */

.breadcrumbs {
	padding: 23px 0 28px;
	border-bottom: 1px solid #eaebec;
	align-items: center;

	.breadcrumbs_link {
		color: #464950;
		font-size: 12px;

		&.active {
			font-weight: 700;
		}
	}

	.breadcrumbs_separator {
		margin: 0 8px;
		display: block;
		color: #b2b3b6;
	}
}

/* ARTICLE TIMER */
.timer {
	border-bottom: 1px solid #f5f5f5;
}
.timer_content {
	width: 100%;
	align-items: center;
	justify-content: center;
	padding: 30px 0 20px;
	text-align: right;
}
.timer_item {
	margin: 0 25px;
}
.timer_number {
	font-size: 34px;
	line-height: 24px;
	font-weight: 600;
	margin: 0;
}
.timer_desc {
	font-size: 10px;
	line-height: 9px;
	letter-spacing: 1px;
	font-weight: 600;
	text-transform: uppercase;
	margin: 24px 0 0;
}

/* SECTION */
.notice_block {
	align-items: center;
	padding: 20px 25px 20px 70px;
	border-left: 5px solid #22c672;
	background-color: #f9f9f9;
	background-image: url('../img/info_icon.svg');
	background-repeat: no-repeat;
	background-position: 22px 50%;
	font-size: 20px;
	line-height: 28px;
	margin-bottom: 30px;

	p {
		margin: 0;
	}
}
.post_bonuses, .content_post_wrapper {

	.main {
		padding-right: 0;

		section, article {
			border-bottom: 1px solid #f5f5f5;
			padding: 40px 56px 50px 0;

			&:first-child {
				padding-top: 0;
			}

			&:last-child {
				border-bottom: none;
			}

			&.accordeon_section {
				padding-bottom: 20px;
			}
		}	
	}
	
	.articles .article {
		background: none;
		padding: 40px 56px 50px 0;
	}
}
.section_list {
	flex-direction: column;

	.list_style_round {
		margin-top: 10px;
	}

	&.w_button {
		.list_style_round {
			margin-bottom: 40px;
		}

		.button {
			margin: 0 auto;
			padding-left: 20px;
			padding-right: 20px;
			width: auto;
		}
	}
}
.home_section {
	&:nth-child(odd) {
		background-image: linear-gradient(270deg, #ffffff 0%, #fafafa 4%, #fafafa 96%, #ffffff 100%);
	}
}
.section {
	padding: 45px 0 70px;

	.section_title_block {
		display: flex;
		justify-content: space-between;

		.info_block {
			padding-right: 40px;
		}
		.image_block {
			img {
				display: block;
			}
		}
	}

	.post_item_readmore {
		align-items: center;
		font-size: 15px;
		font-weight: 700;
		color: #0DAA5A;

		span {
			margin-right: 8px;
		}
	}	
}

.archive_section {
	padding: 35px 0 30px;
}

.info_block {
	display: flex;
	align-items: center;

	.info_block_link {
		display: flex;
		align-items: center;
		color: #464950;

		&:hover {
			color: #0daa5a;
		}
	}
	img {
		display: block;
		margin-right: 8px;
	}
	.info_block_text {
		font-weight: 700;
		font-size: 15px;
	}
}

.section_content_table {
	padding-top: 40px;
	padding-bottom: 40px;

	&.section_content_nobutton {
		padding-bottom: 0;
	}

	> div {
		padding-left: 50px;
	}

	.table_nav {
		font-size: 12px;
		line-height: 14px;
		font-weight: 700;
		margin-bottom: 26px;

		li {
			padding: 0 20px;
			border-right: 2px solid #d7d7d7;

			&:last-child {
				padding-right: 0;
				border-right: none;
			}

			a {
				color: #307fe2;
			}

			&.active {
				position: relative;
				&:after {
					content: ' ';
					display: block;
					width: 22px;
					height: 2px;
					position: absolute;
					bottom: -5px;
					margin: 0 auto;
					background-color: #58c1ff;
					left: calc(50% - 11px);
				}
				
			}
			&.active, &:hover {
				a {
					color: #1f5497;
				}
			}
		}
	}
	.table_header {
		height: 43px;
		align-items: center;
		background-color: #f5f5f5;

		p {
			font-size: 12px;
			font-weight: 600;
			color: #989ba1;
		}
	}
	.table_row {
		align-items: center;
		flex-wrap: wrap;
		padding-top: 15px;
		padding-bottom: 15px;
		border-top: 1px solid #f5f5f5;
		border-bottom: 1px solid #f5f5f5;
		font-size: 13px;	
		font-weight: 700;

		&:first-child {
			border-top: none;
		}
		&:last-child {
			border-bottom: none;
		}	

		// .flex {
		// 	align-items: center;
		// }
		
		// a:not(.btn-green) {
		// 	color: #464950;

		// }

		// .name_cell {
		// 	align-items: center;
		// 	font-size: 15px;

		// 	img {
		// 		margin-right: 19px;
		// 		transition: all .3s;
		// 	}
		// 	.title:hover {
		// 		color: #0DAA5A;
		// 	}

		// 	&:hover {
		// 		img {
		// 			transform: scale(1.1);
		// 		}
		// 	}
		// }
		// .rating_cell {
		// 	font-weight: 600;

		// 	img {
		// 		margin-right: 23px;
		// 	}
		// }
		// .reviews_cell {
		// 	font-weight: 600;

		// 	img {
		// 		margin-right: 9px;
		// 	}
		// }
		// .two_buttons_h_cell {
		// 	a:first-child {
		// 		margin-right: 20px;
		// 	}
		// }

		// .row_description {
		// 	width: 100%;
		// 	color: #989ba1;
		// 	font-size: 10px;
		// 	font-weight: 400;
		// 	margin: 17px 0 0;
		// }
	}
}

.table_row,
.article_table_row,
.widget_table_row {
	// align-items: center;
	// flex-wrap: wrap;
	// padding-top: 15px;
	// padding-bottom: 15px;
	// border-top: 1px solid #f5f5f5;
	// border-bottom: 1px solid #f5f5f5;
	// font-size: 13px;	
	// font-weight: 700;



	.flex {
		align-items: center;
	}
	
	a:not(.btn-green) {
		color: #464950;

	}

	.name_cell {
		align-items: center;
		font-size: 15px;

		img {
			margin-right: 19px;
			margin-left: 0px;
			transition: all .3s;
		}
		.title {
			font-weight: 700;
		}
		.title:hover {
			color: #0DAA5A;

		}

		&:hover {
			img {
				transform: scale(1.1);
			}
		}
	}
	.rating_cell {
		font-weight: 600;

		img {
			margin-right: 23px;
		}
	}
	.reviews_cell {
		font-weight: 600;

		img {
			margin-right: 9px;
		}
	}
	.two_buttons_h_cell {
		a:first-child {
			margin-right: 20px;
		}
	}

	.row_description {
		width: 100%;
		color: #989ba1;
		font-size: 10px;
		font-weight: 400;
		margin: 17px 0 0;
	}
	.text_block {
		align-items: flex-start;
		flex-direction: column;
		
		.description {
			color: #464950;
			font-size: 12px;
		}
	}
	.margin_text {
		font-size: 13px;
	}
}

.article_table_row,
.widget_table_row {
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #e6e6e6;
	padding: 16px 19px;

	&:last-child {
		border-bottom: none;
	}	

	.name_cell {
		img {
			margin-right: 9px;
		}
	}
}

.section_content_table_bookmakers {

	.table_cell_1 {
		width: 292px;
	}
	.table_cell_2 {
		width: 320px;
	}
	.table_cell_3 {
		width: 219px;
	}
	.table_cell_4 {
		width: auto;
	}
}

.section_content_table_bonus {
	.table_cell_1 {
		width: 250px;
	}
	.table_cell_2 {
		width: 280px;
	}
	.table_cell_3 {
		width: 200px;
	}
	.table_cell_4 {
		width: 229px;
	}
	.table_cell_5 {
		width: auto;
	}	

	.bonus_cell {
		font-size: 15px;
	}
	.bonus_code_cell, .turnover_cell {
		font-weight: 400;
	}
}

.section_content_table_betts {
	.table_cell_1 {
		width: 130px;
	}
	.table_cell_2 {
		width: 87px;
	}
	.table_cell_3 {
		width: 304px;
		padding-right: 55px;
	}
	.table_cell_4 {
		width: 197px;
	}
	.table_cell_5 {
		width: 142px;
	}
	.table_cell_6 {
		width: 142px;
	}
	.table_cell_7 {
		width: auto;
	}	
	
	.table_header_titles {
		&.table_cell_5, &.table_cell_6, &.table_cell_7 {
			padding-left: 7px;
		}
	}

	.date_cell, .time_cell, .category_cell {
		font-weight: 400;
	}
	.match_cell, .coeff_cell {
		font-size: 15px;

	}
	.match_cell {
		justify-content: space-between;

		.team_1 {
			margin-right: 14px;
		}
		.team_2 {
			margin-left: 14px;
		}
	}
	.table_row {
		.coeff_cell {
			
		}	
	}
	.coeff_wrap {
		flex-direction: column;
		align-items: center;

		img {
			margin-top: 11px;
		}
	}
	
}
.table_twocol {
	display: flex;
	justify-content: space-between;

	& > * {
		width: 46%;
	}
}

.post_heading {
	font-size: 11px;
	
	a {
		color: #307fe2;
		font-weight: 700;
	}
	p {
		margin: 0;
	}
}
.section_posts_archive {
	margin-top: 43px;

	
	.post_item_excerpt {
		line-height: 20px;
		margin: 10px 0;
		font-size: 13px;
	}
}
.section_posts_3col {
	flex-wrap: wrap;
	justify-content: space-around;
	padding-bottom: 20px;

	.post_item {
		width: 354px;
		border-radius: 5px;
		border: 1px solid rgba(0, 0, 0, 0.1);
		background-color: #ffffff;
		margin-bottom: 20px;

		.post_item_meta_block {
			top: 20px;
			left: 20px;

			.post_item_meta {
				background-color: rgba(0,0,0,0.4);
				border-width: 1px;
				border-radius: 3px;
				border-style: solid;
				color: #fff;
				text-transform: uppercase;
				font-size: 11px;
				line-height: 12px;
				padding: 4px 10px;
				font-weight: 700;
				letter-spacing: .46px;
			}
		}
		.post_item_review_bock {
			top: 23px;
			right: 20px;
			color: #fff;
			font-size: 13px;
			font-weight: bold;
			align-items: center;

			img {
				margin-right: 7px;
			}
		}
		.image_block {
			img {
				width: 100%;
				height: auto;
			}
		}
		.content_block {
			padding: 28px 20px;
		}
		
		.post_item_title {
			margin: 12px 0 7px;
		}
		
	}
}

.section_posts_fullwidh {
	padding-bottom: 40px;
	flex-wrap: wrap;
	
	.post_item {
		width: 100%;
		padding: 21px 25px;
		border: 1px solid rgba(0, 0, 0, 0.1);
		background-color: #ffffff;
		justify-content: space-between;

		&:last-child {
			border-radius: 0 0 8px 8px;
		}
		&:first-child {
			border-radius: 8px 8px 0 0;
		}
	}
	.post_item_title {
		margin: 11px 0;
	}
	.image_block {
		img {
			width: 285px;
			height: auto;
		}
	}
	.content_block {
		width: 478px;
		margin-left: 39px;
		margin-right: 90px;
	}
	.buttons_block {
		align-self: center;

		.button {
			width: 180px;
			margin-top: 20px;
		}
	}
}
.archive_section, .post_archive_section {
	.section_posts_fullwidh {
		.post_item {
			margin-bottom: 20px;
			border-radius: 8px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
.sidebar-right {
	
	h2 {
		margin-bottom: 23px;
	}
	.article.section_posts_fullwidh {
		margin-top: 0;
		padding-bottom: 10px;
		
		.section_content_block {
			margin-bottom: 30px;
		}
		img {
			margin: 0;
		}
		.image_block {
			img {
				width: 200px;
				min-width: 200px;
				height: auto;
			}
		}
		.content_block {
			width: auto;
			margin-right: 0px;
		}
		.section_button {
			margin-bottom: 25px;
		}
	}
	.section_posts_archive {
		margin-top: 10px;
	}

}

.section_review_archive {
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 43px;

	.logo {
		justify-content: center;
		align-items: center;
		height: 30px;
		width: 100%;
		border-radius: 5px 5px 0 0;

		&.ladbrokes {
			background-color: #d9182b;
		}
		&.coral {
			background-color: #3461a3;
		}
		&.betfair {
			background-image: linear-gradient(to right, #ffc000 0%, #ff9300 100%);
		}
		&.bet365 {
			background-color: #007e59;
		}
		&.guts {
			background-color: #000000;
		}
	}
	.content {
		flex-direction: column;
		align-items: center;
		border-radius: 0 0 5px 5px;
		border: 1px solid rgba(0, 0, 0, 0.1);
		background-color: #ffffff;
		padding: 24px 15px 21px;

		img {
			display: block;
		}

		.review_name {
			margin: 10px 0 15px;	
		}
		.excerpt {
			line-height: 20px;	
			margin: 19px 0 20px;	
			text-align: center;
		}
		.button {
			width: 120px;	
		}

	}

}

.section_review_5col {
	
	.review_item {
		width: 207px;
	}
}

.main {
	width: 66.12%;
	padding-right: 56px;
	padding-top: 65px;
}

.section_articles {
	padding: 0;
}
.section.sidebar-right {
	border-top: 1px solid #f5f5f5;
}
.articles {
	
	.article {
		background: url('../img/dashed-silver.png') 0 100% repeat-x;
		padding: 65px 0 45px;
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;

		&:first-child {
			padding-top: 0;
		}
		&:last-child {
			background: none;
		}

		.article_content {
			margin-top: 19px;

			h3 {
				margin-top: 27px;
			}

			a:not(.button) {
				color: #307fe2;
				text-decoration: underline;
			}

			.section_button {
				color: #fff;
				text-decoration: none;
				margin-top: 42px;
			}
			.article_name_cell {
				align-items: center;
				font-size: 15px;
				margin: 25px 0 19px;

				img {
					margin-right: 19px;
					margin-left: 0px;
					transition: all .3s;
				}
				.title {
					text-decoration: none;
					color: #464950;
					font-weight: 700;
				}
				.title:hover {
					color: #0DAA5A;

				}

				&:hover {
					img {
						transform: scale(1.1);
					}
				}
			}
			.article_buttons_cell {
				margin: 25px 0 63px;

				.button {
					width: 108px;
					margin-left: 0;
					margin-right: 20px;
				}
			}
			.article_table_row {
				a {
					color: #464950;
					text-decoration: none;
				}

				.button {
					width: 108px;
				}

				.btn-green {
					color: #fff;
				}
				.name_cell {
					width: 150px;
				}
			}

			ul {
				list-style-image: url('../img/ul_marker.svg');
				padding-left: 12px;
				line-height: 26px;

				li {
					padding-left: 8px;
				}
			}
		}
		.button_block {
			margin-top: 45px;
			margin-bottom: 6px;
		}
		
		.button_image_block {
			
			.button {
				top: 81px;
				left: 52px;
			}
		}
		.button {
			width: 170px;
			margin: 0 auto;
		}

		.description {
			margin: 26px 0 0;
		}

		// .article_secondary_content_item {
		// 	margin-top: 27px;	
		// 	h4 {
		// 		margin: 0;
		// 	}
		// }
	}

}

.article {
	img {
		max-width: 100%;
		display: block;
		margin: 0 auto;
	}
}

.accordeon_section {
	padding-bottom: 20px;

	.section_title_block {
		align-items: center;

		.title {
			margin-bottom: 0;
		}
	}
	.title_right_block {
		font-weight: 600;
		align-items: center;

		img {
			margin-right: 17px;
		}
		.accordeon_trigger {
			margin-left: 20px;
			font-size: 20px;

			&:hover {
				color: #0DAA5A;
			}
		}
	}
}
.accordeon_header {
	padding-bottom: 20px;
}
.accordeon_content {
	padding: 45px 0 0px;
	border-top: 1px solid #f5f5f5;

	.section_button {
		margin-top: 10px;
		margin-bottom: 30px;
	}
}
.tabs {
	width: 100%;
}
.two_tabs {

}
.tabs_header {
	width: 100%;
}
.tab_title {
	
}
.tab_switcher {
	width: 50%;
	font-size: 15px;
	font-weight: 700;
	text-align: center;
	padding-bottom: 18px;
	color: #989ba1;
	border-bottom: 2px solid #f5f5f5;
	
	&.active {
		color: #464950;
		border-color: #22c672;
	}

}
.tabs_content {
	padding: 20px 0 0;

	.list_style_round {
		margin: 20px 0;
	}
}
.content_scores {
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-end;
}
.scores_item {
	width: 320px;
	padding: 20px 0;
	margin-bottom: 15px;

	.title {
		font-size: 15px;
		font-weight: 700;
		align-items: center;
		
		img {
			margin-left: 3px;
			display: block;
		}
	}

	.scores_number {
		font-weight: 600;
	}
}
.scores_item_text {
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}
.scores_lines {
	padding: 5px 0;
	justify-content: space-between;
	align-items: center;
}
.scores_line {
	width: 54px;
	height: 3px;
	background-color: #e2e2e2;
	border-radius: 2px;

	&.active {
		background-color: #ffc62b;
	}
}

.services_block {
	justify-content: space-between;
	align-items: stretch;
	flex-wrap: wrap;

	.services_item {
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
		width: 106px;
		height: 100px;
		padding: 15px 5px;
		border-radius: 11px;
		border: 2px solid #cdced2;
		margin-bottom: 13px;

		&.active {
			border-color: #28ce7a;
		}
	}
	.service_icon {
		margin-bottom: 12px;
	}
}

.payment_block {
	
	.payment_row {
		border-bottom: 1px solid #f5f5f5;
		padding: 10px 28px 28px;
		margin-bottom: 20px;
		justify-content: space-between;

		&:last-child {
			margin-bottom: 0;
		}
		
	}

	.payment_item {
		align-items: center;

		img {
			margin-right: 9px;
		}
	}

	.payment_name {
		align-items: center;
		color: #464950;
		font-size: 15px;
		font-weight: 700;
		
		i {
			margin-left: 6px;
			color: #cdced2;
		}

		&:hover {
			color: #28ce7a;

			i {
				color: #28ce7a;
			}
		}
	}
}

.comment_section {

}
.comment_section_header_block {
	justify-content: space-between;
	align-items: center;
	
	.sort_block {
		align-items: center;

		span {
			margin-right: 17px;
			font-size: 15px;
		}
		select {
			padding: 10px 15px;
			border-radius: 5px;
			border: 1px solid #cdced2;
			font-size: 13px;
			font-weight: 600;
			text-transform: uppercase;
			letter-spacing: 0.5px;
		}
	}
	.button {
		width: auto;
		padding: 0 22px;	
	}

}

/* SIDEBAR */

.sidebar {
	width: 33.87%;
	border-left: 2px solid #f5f5f5;
	padding-top: 15px;
	padding-left: 36px;

	.sidebar_widget {
		flex-direction: column;
		padding-top: 48px;
		background: url('../img/dashed-silver.png') 0 100% repeat-x;
		padding: 48px 0 50px;

		&:last-child {
			background: none;
		}
		.button_block {
			width: 100%;
			justify-content: flex-end;
			margin-top: 33px;

			.button {
				margin: 0;
			}
		}
	}
	.widget_content {
		margin-top: 10px;
	}
	

	.widget_posts_archive {

		.post_item {
			align-items: center;
			padding: 20px 0 20px 28px;
			border-bottom: 1px solid #e6e6e6;

			&:last-child {
				border-bottom: none;
			}	
		}
		.image_block {
			min-width: 112px;
			width: 112px;
			margin-right: 13px;

			img {
				width: 100%;
				height: auto;
				display: block;
			}
		}
		.content_block {
			
		}
		.post_item_title {
			font-size: 15px;
			line-height: 18px;
			margin: 0;
		}
		.post_item_readmore {
			font-size: 13px;

			img {
				height: 9px;
				width: auto;
			}
		}

	}
}

/* ARTICLE */
.sidebar-left {

}
.post_content_wrapper {

}
.post_content_section {
	padding-bottom: 55px;
	border: 1px solid #ebebeb;
}
.post_archive_section {
	padding-bottom: 51px;
}
.social_sidebar {
	width: 128px;
}
.social_sidebar {
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.social_icons {

	a {
		display: block;
		margin-bottom: 30px;

		&:last-child {
			margin-bottom: 0;
		}
	}
	img {
		display: block;
	}
}
.post_main_content {
	width: calc(100% - 128px);
	padding-right: 128px;

	.section_title_block {
		margin-bottom: 16px;
	}
}
.post_content,
.author_text {
	line-height: 20px;
}
.post_author {
	margin-top: 40px;
	padding-left: 18px;
}
.post_author_heading {
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.46px;
	justify-content: space-between;
	margin-bottom: 28px;

	.line {
		margin-top: 9px;
		height: 1px;
		background-color: #eee;
		width: 100%;
	}
}
.post_author_content {
	padding-left: 19px;
	
	.img_block {
		min-width: 100px;
		width: 100px;
		height: 100px;
		margin-right: 29px;

		img {
			width: 100%;
			height: auto;
		}
	}
	
}
.author_name {
	margin-top: 0;
	margin-bottom: 15px;
	line-height: 22px;
}
.author_text {
	margin: 0;
}


/* PAGE WITH BANNER */
.page_w_banner {

	.content_wrapper {
		position: relative;
	}
	.breadcrumbs_wrapper {
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;

	}
	.breadcrumbs {
		border-color: rgba(255,255,255,.2);

		.breadcrumbs_link, .breadcrumbs_separator {
			color: #fff;
		}
		.breadcrumbs_link:hover {
			text-decoration: underline;
		}
	}
}

/* FOOTER */

.footer {
	background-image: linear-gradient(to right, #1d1d1d 0%, #323232 100%);
	color: #fff;

	img {
		display: block;
	}

	.footer_top {
		justify-content: space-between;
		border-bottom: 1px solid rgba(255,255,255,.2);
		padding: 80px 0 50px;

		.text {
			width: 340px;
			margin-top: 16px;
			margin-bottom: 28px;
			opacity: 0.6;
			font-size: 12px;
			line-height: 20px;
		}
		.images {
			width: 360px;
			justify-content: space-between;
			align-items: center;
		}
	}

	.footer_bottom {
		justify-content: space-between;
		padding: 51px 0;

		.copyright {
			margin: 0;
			font-weight: 600;
		}
		a {
			color: #ffffff;
			font-weight: 600;
		}
	}

	.footer_3cols {
		// justify-content: space-around;
	}
	.footer_column {
		width: 136px;
		margin: 0 28px;

		&:last-child {
			margin-right: 0;
		}

		h4.title {
			font-weight: 600;
			text-transform: uppercase;
			letter-spacing: 1px;
			margin-top: 0;
			margin-bottom: 18px;
			color: #fff;
		}

		li {
			margin-bottom: 9px;

			a {
				opacity: 0.6;
				color: #ffffff;
				line-height: 20px;
			}
		}
	}
}

.overlay {
	z-index:100;
	position:fixed;
	background-color: #292929;
	opacity: 0.5;
	width:100%; 
	height:100%;
	top:0;
	left:0;
	cursor:pointer;
	display:none;
}