@media (max-width: 1255px){
  
}
@media (max-width: 1006px){
	.header_main {
		
		.header_mobile_menu {
	
			display: block;

			.header_mobile_menu_trigger {
				width: 25px;
				height: 20px;
				background: url('../img/drop_menu_icon.svg') 50% 50% no-repeat;
				cursor: pointer;

				&.opened {
					background: url('../img/drop_menu_icon_opened.svg') 50% 50% no-repeat;					
				}
			}
			
		}

	}	

	.header_mobile_main_menu {
		width: 100%;
		background-color: #fff;
		display: none;	

		.container {
			padding: 0;
			background-color: #323232;
		}

		.navigation {

			& > ul {
				font-size: 11px;
				font-weight: 700;
				text-transform: uppercase;
				letter-spacing: 0.39px;
				width: 100%;

				> li {
					// padding: 0 20px;
					border-bottom: 1px solid rgba(255, 255, 255, 0.2);
					border-left: 3px solid transparent;
					
					a {
						padding: 0 20px;
					}

					&:first-child {
						border-top: 1px solid rgba(255, 255, 255, 0.2);
					}

					&.active {
						border-left: 3px solid #7fcfff;

						.main_menu_item {
							color: #7fcfff;
						}
					}
					
					&.menu_item_yellow.active {
						border-left: 3px solid #fff751;

						.main_menu_item {
							color: #fff751;
						}
					}
					&.menu_item_green.active {
						border-left: 3px solid #38ae79;

						.main_menu_item {
							color: #38ae79;
						}
					}
					&.menu_item_red.active {
						border-left: 3px solid #ff553d;

						.main_menu_item {
							color: #ff553d;
						}
					}
					&.menu_item_blue.active {
						border-left: 3px solid #3989ed;

						.main_menu_item {
							color: #3989ed;
						}
					}
					&.menu_item_purple.active {
						border-left: 3px solid #ac79ff;

						.main_menu_item {
							color: #ac79ff;
						}
					}
					&.menu_item_lightgreen.active {
						border-left: 3px solid #28ce7a;

						.main_menu_item {
							color: #28ce7a;
						}
					}
					&.active {

						.main_menu_item {
							color: #7fcfff;
						}
						.grid_submenu, .submenu {
							// display: block;
						}
					}
					
					&.has_submenu {
						position: relative;

						.main_menu_item:after {
						 	content: '\f107';
						 	font-family:'FontAwesome';
						    display: block;
						    width: 9px;
						    height: 5px;
						    position: absolute;
						    top: calc(50% - 2.5px);
						    right: 21px;
						    line-height: 7px;
						    font-size: 14px;
						    font-weight: 400;
						    opacity: .6;
						}

						&.active {
							.main_menu_item:after {
								content: '\f106';
								opacity: 1;
							}
						}
					}

					.has_submenu {

						& > a {
							position: relative;
						}

						& > .main_submenu_item:after {
						 	content: '\f107';
						 	font-family:'FontAwesome';
						    display: block;
						    width: 9px;
						    height: 5px;
						    position: absolute;
						    top: calc(50% - 2.5px);
						    right: 21px;
						    line-height: 7px;
						    font-size: 14px;
						    font-weight: 400;
						    opacity: .6;
						}

						&.active {
							& > .main_submenu_item:after {
								content: '\f106';
								opacity: 1;
							}
						}	
					}
				}

				a {
					color: #fff;
				}

				.main_menu_item {
					display: flex;
					min-height: 42px;
				    padding-top: 10px;
				    padding-bottom: 10px;
					position: relative;
				}

			}
			
			.grid_submenu, .submenu, .sub_submenu {
				display: none;
				position: static;
				// border-top: 3px solid #7fcfff;
				background-color: #252525;

				li {
					border-bottom: 1px solid rgba(255, 255, 255, 0.2);
					font-size: 12px;
					text-transform: none;
					font-weight: 400;

					&:first-child {
						border-top: 1px solid rgba(255, 255, 255, 0.2);
					}

					& > a {
						display: flex;
						align-items: center;
						min-height: 42px;
						padding-top: 10px;
						padding-bottom: 10px;
					}

					img {
						margin-right: 10px;
					}
				}
			}
		}
		
	}

	.header_mobile_search_block {
		padding: 20px;
	}
	.header_mobile_search {
		display: block;
		width: 100%;
		padding: 12px 42px 12px 20px;
		border-radius: 5px;
		border: 1px solid #4e4e4e;
		color: #464950;
	}
	.header_mobile_search_submit {
		background: transparent;
		border: none;
		box-shadow: none;
		position: absolute;
		right: 33px;
		top: calc(50% - 9px);

		img {
			display: block;
		}
	}
	.header_mobile_profile {
		height: 115px;
		align-items: center;
		justify-content: center;

		.button {
			width: 108px;

			&:first-child {
				margin-right: 38px;
			}
		}
	}
	
}
@media (max-width: 767px){
  // width: 100%;
  // max-width: 400px;
}